body{
    background-color: #eee;
}

header{
    background-color: #333;
    color: #fff;
    text-align: center;
    margin: 15px 20px 20px 15px;
}

nav{
    background-color: #444;
}

nav ul{
    list-style: none;
    margin: 0px;
}

 ul li{
    display: inline;
    margin: 0px 20px 0px 20px;
}

a{
    text-decoration: none;
    padding-left: 20px; padding-right: 20px; padding-top: 0px; padding-bottom: 0px;
    border-radius: 30px;
    border-width: thick;
    border-style: dotted;
}

h2{
    background-color: #444;
    color: #fff;
    font-size: 24px;
    padding: 10px;
}

article{
    border: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: 10px; padding: 10px;
}

footer{
    background-color: #333;
    color: #faf1f1;
    text-align: center;
    margin-bottom: 20px; padding: 10px;
}



h3{
    background-color: #f9f7f7;
    color: #030303;
    font-size: 24px;
    font-family: Georgia, serif;
}

h1{
    background-color: #333;
    color: #f6f6f6;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px black;
    font-family: cursive;
}


#titulo{
    background-color: #333;
}

#menuPrincipal{
    background-color: #444;
}


.enlaceMenuPrincipal{
    color: #eee;
}

.tituloSeccion{
    color:#eee ;
}

#principalarticle{
    background-color: #f6f6f6;
}
/* default hover effect */
a:hover {
    color: black;
    background: yellow;
  }
  
  @media (hover: hover) {
    /* when hover is supported */
    a:hover {
      color: white;
      background: black;
    }
  }